NSCC.Web.Awards/NSCC.Web.Awards.Managers/Web References/AwardsWs/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllAwards">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAwardsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAwardsResult" type="tns:ArrayOfAwardSelection" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAwardSelection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AwardSelection" nillable="true" type="tns:AwardSelection" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AwardSelection">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequireIncomeInfo" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="NumberOfAttachments" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AttachmentsRequired" type="tns:ArrayOfAwardAttachment" />
          <s:element minOccurs="0" maxOccurs="1" name="EligibleCampuses" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="EligiblePrograms" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="EssayQuestions" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAwardAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AwardAttachment" nillable="true" type="tns:AwardAttachment" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AwardAttachment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AttachmentType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllAwardsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAwards" />
  </wsdl:message>
  <wsdl:message name="GetAllAwardsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAwardsResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetAllAwards">
      <wsdl:input message="tns:GetAllAwardsSoapIn" />
      <wsdl:output message="tns:GetAllAwardsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAwards">
      <soap:operation soapAction="http://tempuri.org/GetAllAwards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllAwards">
      <soap12:operation soapAction="http://tempuri.org/GetAllAwards" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:3673/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:3673/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>